*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/* result */

.content {
    display: flex;
    flex-direction: row; /* default */
    margin-right: 30px;
    margin-left: 30px;
    justify-content: center;
    align-items: end;
    gap: 30px;
}

.result__video-container {
    position: relative;
    inline-size: 711px;
    block-size: 386px;
    margin-bottom: 16px;
}

.result__video {
    inline-size: inherit;
    block-size: 100%;
    object-fit: cover; /* save proportions */
    object-position: center; /*works without*/
}

/* form  */

.search-form {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.search-form__fieldset {
    display: grid;
    gap: 5px;
    border: none;
}

.search-form__fieldset-title {
    font-size: 18px;
    font-weight: 400;
}

.search-form__checkbox-list {
    display: flex;
    gap: 15px;
}

.search-form__label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content; /*works without*/
}

.search-form__label-text {
    cursor: pointer;
}

.search-form__label:has(:focus-visible) {
    outline: 1px solid #fff;
    outline-offset: 1px;

}

.search-form__label:hover .search-form__label-text { /*underline only text but hover on label*/
    text-decoration: underline;
}

.search-form__textfield {
    appearance: none;
    background: transparent;
    border: none;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    inline-size: 225px;
    block-size: 27px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;

}

input[type=text] { /* can be set in .search-form__textfield with color: #fff  */
    color: #fff;
}


.search-form__textfield::placeholder {
    color: rgba(255, 255, 255, 0.70);
}

.search-form__textfield:focus {
    outline: none;
}

.search-form__textfield:active {
    border-left-color: #FFF;
    border-right-color: #FFF;
}

.search-form__pseudo-checkbox {
    inline-size: 19px;
    block-size: 19px;
    border: 1px solid #FFF;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before { /*set style to before  only if checked + they are neighbours*/
    content: '';
    display: block;
    background-color: #FFF;
    block-size: 15px;
    margin: 1px;
}

.button {
    cursor: pointer;
    background-color: transparent;
    color: #FFF;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #FFF;
}

.button:focus {
    outline: none;
}

.button:active {
    background-color: #545050;
}

.search-form__submit-button {
    padding: 6px 73px;
    align-self: end;
}

.button:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

/* content  */

.content__details {
    display: flex;
    flex-direction: column;
    gap: 22px;
    inline-size: 399px;
    block-size: 100%; /*works without*/
}

.title {
    font-family: Oswald, sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 94%;
    text-transform: uppercase;
}

.content__accent {
    color: #545050;
}

.content__list-container {
    display: flex;
    flex-direction: column;
    position: relative;
    block-size: 298px;
    gap: 30px;
    overflow: auto; /* also could use  overflow-x: hidden; or overflow-y: scroll to do so*/

}


.content__list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.content__video-card-description-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 3px;
    max-width: 50%;
}


.content__list-item:hover .content__video-card-description-container {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.content__video-card-title {
    padding-top: 2px;
    font-family: Oswald, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    hyphens: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 190px;
}


.content__video-card-description {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 16.2px;
    letter-spacing: normal;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    max-width: 190px;

}

.content__card-link {
    text-decoration: none;
    color: #FFF;
}

.content__card-link:focus-visible {
    outline: 1px solid #FFF;
}

/*________________*/


.content__card-link:active, .content__card-link_current {
    background-color: #545050;
}

.content__video-card {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    /* padding: 2px; */
}

.content__video-card-thumbnail {
    inline-size: 194px;
    block-size: 103px;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center; /*works without*/
}

.content__list-item {
    display: grid;
    margin: 2px;
}


.content__list-item:focus {
    outline: none;
}

.content__list-item:focus-visible {
    outline: 1px solid #FFF;
}

.more-button {
    inline-size: 100%;
    padding: 6px 0;
}


.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
}