*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* result */

.content {
  display: flex;
  flex-direction: row; /* default */
  margin-right: 30px;
  margin-left: 30px;
  justify-content: center;
  align-items: end;
  gap: 30px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 16px;
}

.result__video {
  inline-size: inherit;
  block-size: 100%;
  object-fit: cover; /* save proportions */
  object-position: center; /*TODO: ВОПРОС К РЕВЬЮВЕРУ: ПРОЧИТАЛ, ЧТО ЭТО ЛУЧШЕ ЗАДАВАТЬ, НО ЗАЧЕМ? ВЕДЬ И ТАК РАСТЯНУТО И РАБОТАЕТ И БЕЗ НЕГО*/
}

/* form  */

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.search-form__fieldset {
  display: grid;
  gap: 5px;
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;  /*TODO: ВОПРОС К РЕВЬЮВЕРУ, ПОДСКАЖИТЕ, ПОЖАЛУЙСТА, ЕСЛИ Я ТУТ УБИРАЮ ЭТО СВОЙСТВО, ТО ВСЁ ОСТАЁТСЯ БЕЗ ИЗМЕНЕНИЙ - ПОЧЕМУ? Добавил его только из-за пункта в ТЗ */
}

.search-form__label-text {
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  padding: 2px;
  border: 1px solid #FFF;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.search-form__textfield {
  appearance: none;
  background: transparent;
  border: none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  inline-size: 225px;
  block-size: 27px;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

input[type=text] {  /* can be set in .search-form__textfield with color: #fff  */
    color: #fff;
}

.search-form__textfield::placeholder {
    color: rgba(255, 255, 255, 0.70);
}

.search-form__textfield:focus {
  outline: none;
}

.not-decorated-search-form:hover {
  text-decoration: none;
}

.search-form__textfield:active {
  border: 1px solid #FFF;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #FFF;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  background-color: #FFF;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px;
}

.search-form__label:has(:focus-visible) {
  border: 1px #FFF solid ;
  padding: 2px;

}

.button {
  cursor: pointer;
  height: 100%;
  background-color: transparent;
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid #FFF;
}

.button:focus {
    outline: none;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  padding: 6px 73px;
}

.search-form__submit-button:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

/* content  */

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  inline-size: 399px;
  block-size: 100%; /*TODO: ВОПРОС К РЕВЬЮВЕРУ, ПОДСКАЖИТЕ, ПОЖАЛУЙСТА, ЕСЛИ Я ТУТ УБИРАЮ ЭТО СВОЙСТВО, ТО ВСЁ ОСТАЁТСЯ БЕЗ ИЗМЕНЕНИЙ - ПОЧЕМУ? Добавил его только из-за пункта в ТЗ */
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
    display: flex;
    flex-direction: column;
    position: relative;
    block-size: 298px;
    gap: 30px;
    overflow: auto; /* also could use  overflow-y: scroll; to do so*/

}


.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 6px;
}


.content__video-card-description-container:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.content__video-card-title {
  padding-top: 2px;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  hyphens: auto;
}

.content__video-card-description {
  line-height: 90%;
}

.content__card-link {
  text-decoration: none;
  color: #FFF;
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  padding: 2px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center; /*TODO: ВОПРОС К РЕВЬЮВЕРУ: ПРОЧИТАЛ, ЧТО ЭТО ЛУЧШЕ ЗАДАВАТЬ, НО ЗАЧЕМ? ВЕДЬ И ТАК РАСТЯНУТО И РАБОТАЕТ И БЕЗ НЕГО*/
}

.content__list-item {
  display: grid;
}


.content__list-item:focus {
  outline: none;
}

.content__list-item:focus-visible {
  outline: 1px solid #FFF;
}

.more-button {
  inline-size: 100%;
  padding: 6px 0;
}


.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
}